<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<script src="/js/app.js"></script>
    <div class="container">
        <header>
            <h1>Inicio A </h1>
            <nav>
                <ul>
                    <button onclick="window.location.href='/producto/crear'">Crear Producto</button>

                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Gestiona tus productos fácilmente</h2>
                <p>Utiliza esta plataforma para agregar, ver y gestionar tus productos.</p>
            </section>
            <br>
            <section>
                <h2>Productos Disponibles</h2>
                <table id="productos-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio Costo</th>
                            <th>Precio Venta</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
            
        </main>
        <br>
        <footer>
            <p>&copy; 2024 Mi Página Web</p>
        </footer>
    </div>
    
</body>
</html>
