<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div>
            <button class="btn btn-secondary" onclick="window.location.href='/'">Volver</button>
        </div>

        <h1>Gestión de Productos</h1>
        <div class="form-actions">
            <button class="btn btn-primary" onclick="mostrarFormulario('simple')">Producto Simple</button>
            <button class="btn btn-secondary" onclick="mostrarFormulario('compuesto')">Producto Compuesto</button>
        </div>

        <!-- Formulario para Producto Simple -->
        <form id="createProductFormSimple" class="formulario-producto">
            <h2>Producto Simple</h2>
        
            <div class="form-row">
                <button type="button" class="btn btn-search" onclick="buscar()">Buscar Producto</button>
            </div>
            <br>
            <div class="form-row">
                <label for="nombreSimple">Nombre del Producto</label>
                <input type="text" id="nombreSimple" name="nombreSimple" required>
            </div>
        
            <div class="form-row">
                <label for="precioCostoSimple">Precio de Costo</label>
                <input type="number" id="precioCostoSimple" name="precioCostoSimple" required>
            </div>
        
            <div class="form-row">
                <label for="precioVentaSimple">Precio de Venta</label>
                <input type="number" id="precioVentaSimple" name="precioVentaSimple" required>
            </div>
        
            <div class="form-row">
                <label for="categoriaSimple">Departamento</label>
                <select id="categoriaSimple" name="categoriaSimple">
                    <option value="">Seleccione un departamento</option>
                </select>
            </div>
            <br>
            <div class="form-actions">
                <button class="btn btn-primary" type="button" id="crearSimple" onclick="crearProductoSimple()">Crear Producto</button>
            </div>

            <div id="modificar" class="form-actions actualizar" style="display:none;">
                <button class="btn btn-warning" type="button" onclick="actualizarProducto()">Actualizar Producto</button>
                <button class="btn btn-danger" type="button" onclick="cancelarEdicion()">Cancelar</button>
            </div>
           
        </form>

        <!-- Formulario para Producto Compuesto -->
        <form id="createProductFormCompuesto" style="display:none;" class="formulario-producto">
            <h2>Producto Compuesto</h2>
            <div class="form-row">
                <button type="button" class="btn btn-search" onclick="buscarCompuesto()">Buscar Producto Compuesto</button>
            </div><br>
            <!-- Campos para el Producto Compuesto -->
            <div class="form-row">
                <label for="nombreCompuesto">Nombre del Producto</label>
                <input type="text" id="nombreCompuesto" name="nombreCompuesto" required>
            </div>

            <div class="form-row">
                <label for="precioBase">Precio Base</label>
                <input type="number" id="precioBase" name="precioBase" required>
            </div>

            <div class="form-row">
                <label for="categoriaCompuesto">Departamento</label>
                <select id="categoriaCompuesto" name="categoriaCompuesto" required>
                    <option value="">Seleccione un departamento</option>
                </select>
            </div>
            <br>
            <div id="subproductosContainer">
                <h3>Subproductos</h3>
                <ul id="listaSubproductos"> </ul>
            </div>
            <div id="formSubproducto" style="display:none;">
                <h3>Agregar Subproducto</h3>
    
                <div class="form-row">
                    <label for="buscarSubproducto">Buscar Subproducto</label>
                    <input type="text" id="buscarSubproducto" placeholder="Buscar por nombre..." oninput="buscarSubproductoPorNombre()">
                    <ul id="resultadosBusqueda" style="display:none; list-style-type: none; padding: 0;"></ul>
                </div>
    
                <div class="form-row">
                    <label for="cantidadSubproducto">Cantidad</label>
                    <input type="number" id="cantidadSubproducto" min="1" value="1">
                </div>
                <br>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" onclick="agregarSubproducto()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelarAgregarSubproducto()">Cancelar</button>
                </div>
                <br>
            </div>
            <!-- Botón para Agregar Subproducto -->
            <div class="form-row">
                <button type="button" class="btn btn-primary" onclick="mostrarFormularioSubproducto()">Agregar Subproducto</button>
            </div>
            <br>
            <div class="form-actions">
                <button class="btn btn-primary" type="button" onclick="crearProductoCompuesto()">Crear Producto Compuesto</button>
                <!-- Botones para Actualizar y Cancelar -->
                <button type="button" class="btn btn-warning" id="actualizarCompuesto" onclick="actualizarProductoCompuesto()" style="display:none;">Actualizar Producto</button>
                <button type="button" class="btn btn-danger" id="cancelarEdicionCompuesto" onclick="cancelarEdicion()" style="display:none;">Cancelar</button>
            </div>
        </form>

         <!-- Mensajes de Respuesta -->
         <p id="responseMessage" style="display:none;"></p>

    </div>

    <!-- Modal para Buscar Producto -->
    <div class="overlay" id="overlay" style="display:none;" ></div>
    <div id="modalBuscarProducto" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalBuscarProducto()">&times;</span>
            <h2>Buscar Producto</h2>
            <div>
                <label for="filtroProducto">Buscar Producto:</label>
                <input type="text" id="filtroProducto" placeholder="Escribe el nombre del producto" oninput="filtrarProductos()">
            </div>
            <table id="tablaProductos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio Costo</th>
                        <th>Precio Venta</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal para Buscar Producto Compuesto -->
    <div class="overlay" id="overlay" style="display:none;" ></div>
    <div id="modalBuscarProductoCompuesto" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalBuscarProductoCompuesto()">&times;</span>
            <h2>Buscar Producto</h2>
            <div>
                <label for="filtroProductoC">Buscar Producto:</label>
                <input type="text" id="filtroProductoC" placeholder="Escribe el nombre del producto" oninput="filtrarProductosCompuesto()">
            </div>
            <table id="tablaProductosC">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio Venta</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/productosC.js"></script>
</body>
</html>
